/*  */

.sidebar {
  width: 18rem;
  /* border: 2px solid black; */
}

.sidebar-head {
  /* height: 12rem; */
  background-image: url("../assets/sidebar.bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sidebar-overlay {
  background-color: #009792b0;
}

.sidebar-profile {
  height: max-content;
}
.sidebar-profile img {
  height: 5rem;
  width: 5rem;
  aspect-ratio: 1/1;
}
.sidebar-profile article {
  color: #e9e9e9;
}
